{% extends 'base.html' %}

{% block title %}Item Detail Page{% endblock title %}

{% block body %}
<div class="card-deck">
    <div class="card text-center">
        {% if object.pic %}
        <img class="card-img" src="{{object.pic.url}}" alt="">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">
                <small class="text-muted">{{object.price}}</small>
            </p>
            <p>
                {% if user.is_superuser %}
                <a href="{% url 'item-update' object.id %}" class="btn btn-warning">Update this item?</a>
                {% endif %}
                <a href="{% url 'items' %}" class="btn btn-primary">Back to main menu</a>
                {% if user.is_superuser %}
                <a href="{% url 'item-delete' object.id %}" class="btn btn-danger">Delete this item?</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock body %}